.upload-container {
  width: 50em;
  height: auto;
  border: 1px solid #888888;
  margin-top: 20%;
  border-radius: 1px;
  box-shadow: 10px 10px 5px #888888;
  padding-bottom: 3em;
}

#inputfield-name {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
}

#inputfield-price {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
}

#dropdown-button {
    background: #F8F8F8;
    color: black;
    height: auto;
    margin-left: 10em;
}

#inputfield-desc {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
}