<div class="container" ng-controller="EditprofileCtrl">
  <div class=" panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <img class="img-circle" src="../images/steveJobs.png" width="100px" height="100px">
        </div>
        <div class="col-xs-12 col-md-9">
          <h5>{{fullname}}</h5>
          <h5>{{username}}</h5>
          <p class="btn btn-default" ng-click="submitForm()" ><span class="glyphicon glyphicon-saved"></span>Save Edit</p>
        </div>
      </div>
    </div>



    <!--// $scope.phone = data.phone;-->
    <!--// $scope.birthday = data.birthday;-->
    <!--// $scope.occupation = data.occupation;-->
    <!--// $scope.country = data.country;-->
    <!--// $scope.area = data.area;-->
    <!--// $scope.work = data.work;-->
    <!--// $scope.introduction = data.introduction;-->

    <div class="panel-body">
      <form >
        <div class="row"></div>
        <div class="form-group col-md-6 col-xs-12">
          <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control editprofile_form" ng-model="firstname" id="inputFirstName1" >
        </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control editprofile_form" ng-model="lastname" id="inputFirstName1" >
          </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control editprofile_form" id="exampleInputEmail1" ng-model="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control editprofile_form" id="exampleInputPassword1" ng-model="password" placeholder="Password">
        </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control editprofile_form" id="exampleInputPassword1" ng-model="confirmpassword" placeholder="Confirm Password">
          </div>
        <div class="form-group">
          <label>File input</label>
          <input type="file" id="exampleInputFile">
        </div>
        </div>
      </form>

    </div>
  </div>
</div>
