<div id = completeForm >
  <div class="row">
    <form class="navbar-form" role="search">
      <div class="col-lg-6 col-md-6 col-xs-push-2 col-xs-8">
        <input class="form-control" type="text" placeholder = "search friend.." style = "margin-left:-6em; width:40em;">
      </div>
      <div class="col-lg-6 col-md-6 col-xs-push-1 col-xs-8">
        <button class="btn btn-primary col-xs-push-3 col-xs-4" type="button">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>


<div class="row">
  <div class="friend-container">
    <div class="well" ><h4> Notifications</h4></div>
    <span class="img-circle img-responsive"><img src = "../images/steveJobs.png"  alt="Responsive image" id="profile"/>
                  <span> ghjkgvbhjnkml,gvhbjnk fghjkghjklbhjkfghj</span>
                  <input type="button" value="Ignore" class = "ignore" />
                  <input type="button" value="Accept" class = "ignore" />
               </span>

    <span class="img-circle img-responsive"><img src = "../images/steveJobs.png"  alt="Responsive image" id="profile"/>
                  <span> ghjkgvbhjnkml,gvhbjnk fghjkghjklbhjkfghj</span>
                  <input type="button" value="Ignore" class = "ignore" />
                  <input type="button" value="Accept" class = "ignore" />
               </span>


  </div>
</div>

<div class="row">
  <div class="friend-container">
    <div class="well"><h4>Search Results</h4></div>

    <span class="img-circle img-responsive"><img ng-src = "../images/steveJobs.png"  alt="Responsive image" id="profile"/>
                  <span> ghjkgvbhjnkml,gvhbjnk fghjkghjklbhjkfghj</span>
                  <input type="button" value="Ignore" class = "ignore"/>
                  <input type="button" value="Accept" class = "ignore"/>
               </span>
  </div>
</div>
