<div class="container">
  <div class=" panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <img class="img-circle" src="../images/steveJobs.png" width="100px" height="100px">
        </div>
        <div class="col-xs-12 col-md-9">
          <h5>Steve Jobs</h5>
          <a href="#!/profile/editProfile" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Edit Profile</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Firstname</td>
          <td>Steve</td>
        </tr>
        <tr>
          <td>Lastname</td>
          <td>Jobs</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>abc@apple.com</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>123-456-6789</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td></td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>Programmer</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>United State</td>
        </tr>
        <tr>
          <td>Area</td>
          <td>California</td>
        </tr>
        <tr>
          <td>Storelink</td>
          <td>www.apple.com</td>
        </tr>
        <tr>
          <td>Work</td>
          <td></td>
        </tr>
        <tr>
          <td>Introduction</td>
          <td>Stay foolish stay hungry</td>
        </tr>
      </table>
    </div>
  </div>
</div>

