<div class="container">
  <div class="row">
    <div class="col s12 m1 push-m4">
      <img class="circle materialboxed" src="../assets/img/steveJobs.png" id="imgHead">
    </div>
    <div class="col s12 m4 push-m5">
      <h5>Steve Jobs</h5>
      <a routerLink="editProfile" routerLinkActive="active" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit Profile</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 push-m2">
      <div class="card hoverable">

        <div class="card-content">
          <div class="row">
            <div>
              <table class="highlight centered">
                <tbody>
                <tr>
                  <td>Firstname</td>
                  <td>Steve</td>
                </tr>
                <tr>
                  <td>Lastname</td>
                  <td>Jobs</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>abc@apple.com</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>123-456-6789</td>
                </tr>
                <tr>
                  <td>Birthday</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Occupation</td>
                  <td>Programmer</td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>United State</td>
                </tr>
                <tr>
                  <td>Area</td>
                  <td>California</td>
                </tr>
                <tr>
                  <td>Storelink</td>
                  <td>www.apple.com</td>
                </tr>
                <tr>
                  <td>Work</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Introduction</td>
                  <td>Stay foolish stay hungry</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
