<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2" >
      <div class="card ">
        <div class="card-image col s6 m4 push-m4  push-s2">
          <img src="../assets/img/logo.png" >
          <!--height="100" width="120"/-->
        </div>
        <div class="card-content hoverable">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="username" type="text" class="validate" #username>
                  <label for="username">Username</label>
                </div>
                <div class="input-field col s6">
                  <input id="email" type="email" class="validate" #email>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" #password>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password2" type="password" class="validate" #password2>
                  <label for="password2">Re-enter Password</label>
                </div>
              </div>
              <div class="row">
                <div class="col s8">
                  <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">I agree <a>Terms of Use</a> and <a>Privacy Policy</a></label>
                  </p>
                </div>
                <div class="col s4" align="center">
                  <button class="waves-effect waves-light btn"><i class="material-icons left">done</i>Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
