<div>
  <ul id="dropdown1" class="dropdown-content ">
    <!--<li><a to="/profile">Profile</a></li>-->
    <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
    <li class="divider"></li>
    <li><a href="">Add Friends</a></li>
    <li><a href="">Clothes</a></li>
    <li><a href="">Videos</a></li>
    <li><a href="">Hardwares</a></li>
    <li><a href="">History</a></li>
    <li><a href="">Shopping</a></li>
    <li><a href="">Wallet</a></li>
    <li><a href="">AI Assistant</a></li>
    <li class="divider"></li>
    <li><a href="">Setting</a></li>
    <li><a href="">Log Out</a></li>
  </ul>
  <nav class="yellow darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img alt="Contact Person" id="img-responsive2" class="circle" src="../../assets/img/logo.png" />
      </a>
      <a href="#" class="brand-logo center">I Star VR</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="upload" routerLinkActive="active">Upload</a></li>
        <li><a to="#">Notifications</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#" data-activates="dropdown1" id="imgHead">
          <img alt="Contact Person" id="img-responsive" class="circle"  src="../../assets/img/steveJobs.png"/>
          <i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>
